*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* img {
    max-width: 100%;
} */

button {
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
}

body {



    font-weight: 400;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

}


h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.app-header {
    /* background-color: hsl(193, 100%, 96%); */
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.try-for-free {
    background-color: white;
    color: hsl(192, 100%, 9%);
    font-size: 14px;
    font-weight: 700;
    padding: 5px 40px;
    border-radius: 50px;
    

    
}

.intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 10%;
    padding-top: 140px;
    padding-bottom: 50px;
    background-color: hsl(193, 100%, 96%);
    background-image: url(/images/bg-hero-desktop.svg);

}

.intro-illustration {
    width: 50%;
}

.intro-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    width: 40%;

}

.intro-info .cta {
    width: 40%;
    padding: 20px 10px;
    border-radius: 35px;
    color: white;
    background-color: hsl(322, 100%, 66%);
    font-size: 14px;
    font-weight: 700;
}

.intro-info .cta:hover{
    opacity: 0.6;

}

h1 {
font-size: 40px;
color: hsl(192, 100%, 9%);
}